
.bo1{
    height: 10%;
    border-bottom: solid 1px rgb(172, 172, 172);
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.bo2{
    height: 90%;
     background-color: #edf4fa;
     padding: 60px;
}
ul{
    border: solid;
}
.tabla-con-scroll {
    height: 100%;
    overflow-y: auto;
    padding: 10px;
     background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  height: 40px; /* Altura fija por fila */
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

