<div class="bo1">
    <h3>Personas en la bodega {{ bodegaId }}</h3>
</div>

<div class="bo2">
    <div class="tabla-con-scroll">
        <table *ngIf="personas.length > 0; else sinPersonas" border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Identificación</th>
                    <th>Motivo de Visita</th>
                    <th>Fecha de Entrada</th>
                    <th>Fecha de Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.identificacion }}</td>
                    <td>{{ persona.motivo_visita }}</td>
                    <td>{{ persona.fecha_entrada | date: 'short' }}</td>
                    <td>{{ persona.fecha_salida ? (persona.fecha_salida | date: 'short') : '---' }}</td>
                </tr>
            </tbody>
        </table>

        <ng-template #sinPersonas>
            <p>No hay personas registradas en esta bodega.</p>
        </ng-template>
    </div>


</div>