<!-- <div *ngIf="admin">
    <h2>Bienvenido, {{ admin.nombre }}</h2>
    <p>Correo: {{ admin.correo }}</p>
    <p>Identificacion: {{ admin.identificacion }}</p>
</div> -->

<div class="container" *ngIf="admin">
    <div class="l1">
      <div class="l1a">
        <div class="circulo1"></div>
        <p class="p1">{{ admin.correo }}</p>
        <p class="p2">Administrador</p>
      </div>
  
      <div class="l1b">
        <ol class="ol1">
          <li class="list1" [routerLink]="['/bodegas']">
            <span class="material-symbols-outlined">edit_note</span>
            <p>Bodegas</p>
          </li>
          <li class="list1" [routerLink]="['/administradores']">
            <span class="material-symbols-outlined">groups</span>
            <p>Administradores</p>
          </li>
          <li class="list1" [routerLink]="['/descargar-pdf']">
            <span class="material-symbols-outlined">description</span>
            <p>Descargas</p>
          </li>
          <li class="list1" [routerLink]="['/datos-personales']">
            <span class="material-symbols-outlined">person</span>
            <p>Datos Personales</p>
          </li>
          <li class="list1" [routerLink]="['/ajustes']">
            <span class="material-symbols-outlined">settings</span>
            <p>Ajustes</p>
          </li>
        </ol>
      </div>
  
      <div class="l1c">
        <button class="buton1" (click)="cerrarSesion()">
          <span class="material-symbols-outlined">arrow_left_alt</span>
          <p>Salir</p>
        </button>
      </div>
    </div>
  
    <div class="l2">
      <div class="l2b">
        <!-- <h2>Bienvenido, {{ admin.nombre }}</h2>
        <p>Identificación: {{ admin.identificacion }}</p>
        <p>Correo: {{ admin.correo }}</p> -->
        
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  