<div class="l1">
    <div class="circle purple"></div>
    <div class="circle blue"></div>
    <div class="circle green"></div>

    <div class="l2">

        <div class="l4">
            <div class="logo">
                <span class="material-symbols-outlined">
                    public
                </span>
                <p>Visons</p>
            </div>
            <div class="logo2">
                <p class="p1">Integrar</p>
                <h1 class="title1">VISION</h1>
                <p class="p2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptates veniam error nostrum esse deserunt corporis delectus earum. Vel facilis nulla adipisci ea suscipit delectus quibusdam doloremque laboriosam aut in.</p>
            </div>
        </div>

        <div class="l5">
            <div class="logo3">
               <nav>
                    <ol>
                        <li><a href="perfil-login">Login</a></li>
                        <li><a href="terminos">Terminos</a></li>
                        <li><a href="login">Web</a></li>
                    </ol>
               </nav>
            </div>
            <div class="logo4">
                <div class="l6">
                    <p>Ingresa como Administrador</p>
                    <a href="login" class="b1">Ingresar</a>
                </div>
                
            </div>
        </div>

    </div>
</div>


