.cont{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-1{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-2{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-2-1{
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 10%;
}
.cont-2-2{
  height: 90%;
  padding: 20px;
}
.a{
    width: 80%;
    height: 80%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
    
  .a1{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
  }
  .a2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:medium;
    color: rgb(34, 34, 34);
  }
  .a3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .a4{
    background-color: #5953FF;
    height: 30%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .a6{
    height: 100%;
  }
  .a61{
    height: 100%;
  }
  .a6-1{
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .a6-2{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input1{
    width: 100%;
    border: solid 1px black;
  }
  .a5{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size:medium;
    flex-direction: column;
    color: rgb(34, 34, 34);
  }
  .a7{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .a7-1{
    height: 60%;
    background-color: #2DD04B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .icono{
    font-size: 100px;
  }
  .a7-2{
    height: 40%;
    background-color: #fff;
  }
  .a7-2-1{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .a7-2-2{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:#fff;
    color: #5953FF;
    border: solid 1px #5953FF;
    border-radius: 3px;
  }
  .butonstyle{
    background-color: #5953FF;
    border: solid 1px #5953FF;
    color: #fff;
  }
  input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #5953FF;
    border-radius: 3px;
    text-align: center;
  }
  input:focus {
    border: none;
    outline: 1px solid #5953FF;
    box-shadow: 0 0 10px #5953FF; 
    transition: all 0.3s ease-in-out;
  }
  /* .alertas {
    height: 40px;
    width: 250px;
    background-color: rgb(201, 40, 40);
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 12px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  } */
  .alertas1 {
    height: 40px;
    width: 250px;
    background-color: rgb(29, 184, 55);
    display: flex;
    border-radius: 5px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .alertas2 {
    height: 40px;
    width: 250px;
    background-color: rgb(235, 149, 20);
    display: flex;
    border-radius: 5px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .b1 {
    background-color: transparent;
    border: none;
    color: #fff;
    margin: 0;
  }
  .espacio1{
    width: 70%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .espacio2{
    width: 30%;
    display: flex;
    align-items: center;
  }
  .alertas-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .alertas {
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 250px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }  
  
  
  .success {
    background-color: rgb(29, 184, 55);
  }
  
  .error {
    background-color: rgba(255, 0, 0, 0.8);
  }
  
  .warning {
    background-color: rgb(235, 149, 20);;
  }
  
  .alerta button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .button1{
    background-color: #2DD04B;
    border: #2DD04B;
    color: #fff;
    border-radius: 20px;
  }
  .button2{
    background-color: #2DD04B;
    border: #2DD04B;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
  }