<div class="cont">
    <div class="cont-1">
        <div class="a">
            <div class="a4">
                <span class="material-symbols-outlined">
                    public
                </span>
                <h3>Outreach</h3>
            </div>
            <div class="a1">
                <div class="a2">
                    <p>¿Quieres generar un código de inicio de sesión?</p>
                </div>
                <div class="a3">
                    <button [ngClass]="{ 'butonstyle': botonesEstado['boton1'] }" (click)="toggleClass('boton1')">
                        <span class="material-symbols-outlined">
                            check
                        </span>
                    </button>
                    <button [ngClass]="{ 'butonstyle': botonesEstado['boton2'] }" (click)="toggleClass('boton2')">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                </div>
                <!-- <p *ngIf="numeroRamdon !== null">Código: {{ numeroRamdon }}</p> -->
                <div class="a2">
                    <form>
                        <input type="email" name="correo" required placeholder="Ingresa tu correo">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="a5">
                <p>Ingresa tu Codigo aqui</p>
                <form>
                    <input type="number" name="number"[(ngModel)]="compararCodigo" required placeholder="Ingresa tu Codigo">
                    <button type="submit" (click)="verificarCodigo()">Enviar</button>
                </form>
            </div>
            <!---------------------------------------------ALERTAS------------------------------------------------->
            <div *ngFor="let alerta of alertas" class="alertas" [ngClass]="alerta.tipo">
                <p> {{ alerta.mensaje }}</p>
                <button (click)="cerrarAlerta(alerta.id)" class="b1">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>
        </div>
    </div>

    <div class="cont-2">
        <div class="a">
            <div class="cont-2-1">
                <h4>Formulario</h4>
            </div>
            <div class="cont-2-2">
                <!---------------------------------------------ALERTA FORMUALRIO------------------------------------------------->

                <div *ngIf="mostrarFormulario" class="a6">
                    <form class="a61" (ngSubmit)="registrarAdministrador()">
                        <div class="a6-1">
                            <label><p>Nombre</p></label>
                            <input class="input1" type="text"  [(ngModel)]="nombre" name="nombre" required>
                            <label><p>Identificacion</p></label>
                            <input class="input1" type="text" [(ngModel)]="identificacion" name="identificacion" required>
                            <label><p>Correo</p></label>
                            <input class="input1" type="text" [(ngModel)]="correo" name="correo"  required>
                            <label><p>ID Bodega</p></label>
                            <input class="input1" type="number" [(ngModel)]="bodega_id" name="bodega_id" required>
                        </div>
                        <div class="a6-2">
                            <button class="button2"  type="submit">Guardar</button>
                        </div>
                    </form>
                </div>

                <div *ngIf="!mostrarFormulario" class="a6">
                    <p>Enviar un Codigo de validacion para poder crear una cuenta...</p>
                </div>

            </div>
        </div>
    </div>

    
</div>



 <!---------------------------------------------ALERTA ADMINISTRADOR CREADO------------------------------------------------->
<div *ngIf="adminCreado" class="a7">
    <div class="a7-1">
        <span class="material-symbols-outlined icono">
            check_circle
        </span>
    </div>
    <div class="a7-2">
        <div class="a7-2-1">
            <h4>¡ Administrador Creado !</h4>
        </div>
        <div class="a7-2-2">
            <button class="button1" routerLink="/">Volver </button>
        </div>
    </div>

</div>