<div class="bo1">
    <h3>Ajustes</h3>
</div>
<div class="bo2">
    <div class="l1">
        <div class="l2">
            <h4>Menu</h4>
        </div>
        <div class="l3">
            <div class="l4">
                <span class="material-symbols-outlined">
                    trip_origin
                </span>
                <h5>Configuración Personal</h5>
            </div>
            <div class="l5">
                <ol>
                    <li>
                        <p class="p1">Información de Perfil</p>
                    </li>
                    <li>
                        <p class="p1">Modo Oscuro</p>
                        <button (click)="toggleDarkMode()" class="bg-botonDay text-white dark:bg-botonNight dark:text-black p-2 rounded">
                            Cambiar modo oscuro
                        </button>
                          
                    </li>
                    <li>
                        <p class="p1">Modo Oscuro</p>
                    </li>
                </ol>
            </div>
            <div class="l4">
                <span class="material-symbols-outlined">
                    trip_origin
                </span>
                <h5>Preferencias</h5>
            </div>
            <div class="l5">
                <ol>
                    <li>
                        <p class="p1">Modo Oscuro</p>
                    </li>
                    <li>
                        <p class="p1">Idioma</p>
                    </li>
                    <li>
                        <p class="p1">Notificaciones</p>
                    </li>
                </ol>
            </div>
            <div class="l4">
                <span class="material-symbols-outlined">
                    trip_origin
                </span>
                <h5>Cuenta</h5>
            </div>
            <div class="l5">
                <ol>
                    <li>
                        <p class="p1">Eliminar cuenta</p>
                    </li>
                    <li>
                        <p class="p1">Modo Oscuro</p>
                    </li>
                </ol>
            </div>
            
        </div>
        
    </div>
</div>

