html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
.bo1{
    height: 10%;
    border-bottom: solid 1px rgb(172, 172, 172);
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.bo2{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: overlay;
    padding: 5px;
    background-color: #edf4fa;
    padding: 30px;
}

.bo4{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    gap: 1rem;
}
.bo5{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tit1{
    margin: 0; 
}
.p3{
    font-size: small;
    margin: 0;
    text-align: start;
    color: #545759;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.a{
    width: 100%;
    height: 100%;
}
.a1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 30px;
}
.a2{
    flex: 1 1 calc(33% - 1rem);
    max-width: calc(33% - 1rem);
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: 0.2s;
}
.a2:hover{ 
    scale: 1.05;
    border: solid 1px #3B62D9;
}
.a3{
    flex: 1 1 calc(33% - 1rem);
    max-width: calc(33% - 1rem);
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: dashed 2px #808486;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.a2-1{
    height: 70%;
    display: flex;
}
.a2-1-1{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.a2-1-2{
    width: 75%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow-x: overlay;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tit1{
    padding-bottom: 5px;
    color: #262626;
}
p{
    font-size: small;
    margin: 0;
    text-align: start;
    color: #545759;
}
.circulo{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #edf4fa;
}
.a2-2{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.icon1{
    color: #808486;
}
.icon2{
    color: #aeb3b6;
}
.material-symbols-outlined{
 color: #262626;
 
}
a{
    text-decoration: none;
}