<div class="bo1">
  <h3>Administradores</h3>
</div>

<div class="bo2">
  <!-- Mensaje de Carga -->
  <div *ngIf="cargando">Cargando Administradores...</div>

  <!-- Mensaje de Error -->
  <div *ngIf="!cargando && error" class="error-message">{{ error }}</div>

  <!-- Contenido -->
  <div *ngIf="!cargando && !error" class="a">
    <!-- Sin administradores -->
    <div *ngIf="administradores.length === 0">
      No hay administradores registrados.
    </div>

    <!-- Lista de administradores -->
    <div *ngIf="administradores.length > 0" class="a1">
      <div *ngFor="let admin of administradores" class="a2">
        <div class="a2-1">

          <div class="a2-1-1">
            <div class="circulo"></div>
          </div>
          <div class="a2-1-2">
            <h5 class="tit1">{{ admin.nombre }}</h5>
            <p>ID: {{ admin.identificacion }}</p>
            <p>Correo: {{ admin.correo }}</p>
          </div>

        </div>

        <div class="a2-2">
          <a [routerLink]="['../admins-datos', admin.identificacion]" class="material-symbols-outlined">
            chevron_right
          </a>
        </div>
        
      </div>
      <!--Agregar un admin nuevo-->
      <div class="a3">
        <span class="material-symbols-outlined icon1" >
          add
        </span>
        <p>New Admin</p>
      </div>

    </div>
  </div>
</div>

  